{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ resercher.0.name }} - {{ resercher.0.profession }} </title>
    <link href="{% static "main.css" %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
<div class="print fixbtn">
    <a href="{% url 'print' %}">Print CV</a>
</div>
<div class="container">
    <div id="left">
        <div class="sidebar">
        {% for res in resercher %}
        <div id="avatar">
                <img src="/media/{{ res.avatar }}"  title="{{ res.name }}" alt="{{ res.name }}" width="100%">
        </div>
        <div id="contacts">
            <ul>
                <li>Phone: <a href="tel:{{ res.telephone }}">{{ res.telephone }}</a></li>
                <li>LinkedIn<a href="{{ res.linkedin }}" target="_blank">Sokirlov</a></li>
                <li>Skype: <a href="skype:{{ res.skype }}?chat">{{ res.skype }}</a></li>
                <li>Tg: <a href="tg://resolve?domain=sokirlov">Sokirlov</a> </li>
                <li>{{ res.country }}, {{ res.city }}</li>
                <li class="print"><a href="{% url 'print' %}">Print CV</a></li>
            </ul>
        </div>
        {% endfor %}

        <div class="skills">
            <h3>Hard Skills</h3>
            <ul>
                {% for hs in hardskills %}
                <li>{{ hs.name }}<div class="progress_container"><div class="progress_progress" style="width:{{ hs.raite }}%;"></div></div></li>
                {% endfor %}
            </ul>

        </div>
        <div class="skills">
            <h3>Soft Skills</h3>
            <ul>
                {% for sf in softskills %}
                <li>{{ sf.name }} <div class="progress_container"><div class="progress_progress" style="width:{{ sf.raite }}%;"></div></div></li>
                {% endfor %}
            </ul>

        </div>
    </div>
    </div>
    <div class="content">
     {% for res in resercher %}
         <div id="cont_name">
            <div id="name">
    {#            {% for res in resercher %}#}
                    <h1>{{ res.name }}</h1>
                    <p>{{ res.profession }}</p>
    {#            {% endfor %}#}
            </div>
         </div>
        <div id="introduction">
{#            {% for res in resercher %}#}
                {{ res.introduction }}
{#            {% endfor %}#}
        </div>
    {% endfor %}
        <h2>My Projects</h2>
        <div id="projects">
            {% for pro in projects %}
                <div class="block">
                    <h3 class="pdw-5">{{ pro.name }}</h3>
                    <a href="{{ pro.link }}" class="pdw-5">{{ pro.link }}</a>
                    <div class="description pdw-5"><div>ABOUT:</div><p>{{ pro.description|markdown }}</p></div>
                    <div class="hardskill pdw-5">
                        <div class="tehn">Technologies:</div>
                        {% for hskill in pro.skils.all %}
                            <div class="hskill">{{ hskill.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="experience">
        <h2>My Experience</h2>
            {% for exp in experience %}
            <div class="block">
                <div class="exp_top"><div class="title"><h3>{{ exp.name }}</h3></div><div class="exp_time">{{ exp.start_work |date:"d M Y" }} - {{ exp.end_work |date:"d M Y" }}</div></div>
                <a href="{{ exp.link }}">{{ exp.link }}</a>
                <p><strong>Position:</strong> {{ exp.postion }}</p>
                <div class="description">ABOUT:  &nbsp; {{ exp.description }}</div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
</body>
</html>